:host {
	display: flex;
	flex-direction: column;
	background-image: url("../../../../assets/images/backgrounds/starwars-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100dvh;
	justify-content: space-between;
	color: #fff;
	padding: 2rem;
	text-align: center;
	line-height: 1.5;
	align-items: center;
	overflow: hidden;
	//margin: 50% 0 0 0;
	position: relative;

	a {
		position: absolute;
		display: flex;
		width: 240px;
		margin-bottom: 5rem;
		bottom: 2%;
	}

	&::after {
		content: '';
		position: fixed;
		top: 0;
		width: 100%;
		height: 50%;
		/* background to fade out the text as it goes up */
		background: linear-gradient(180deg, rgba(20, 20, 20, 1) 10%, rgba(20, 20, 20, 0) 100%);
	}
}

.wrapper {
	display: flex;
	height: 100%;
	width: 60%;
	margin: 0 auto;
	/* perspective gives us a 3d space within the element to work with*/
	/* perspective also has the effect of pushing the content "down" */
	perspective: 450px;
	
	@media (max-width: 768px) {
		width: 100%;
	}
}

.scroll-text {
	color: #ffc909;
	font-size: 3vw;
	line-height: 1.5em;
	font-weight: bold;
	text-align: justify;
	position: relative;
	animation: scroll 120s linear forwards infinite;
}

h1, h2 {
	text-align: center;
}

@keyframes scroll {
	from {
		top: 0;
		transform: translateZ(0) rotateX(20deg);
	}
	to {
		top: -7500px;
		transform: translateZ(-2500px) rotateX(21deg);
	}
}