:host {
	display: flex;
	flex-direction: column;
	background-image: url("../../../../assets/images/backgrounds/starwars-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100dvh;
	justify-content: space-between;
	color: #fff;
	padding: 2rem;
	text-align: center;
	line-height: 1.5;
	align-items: center;

	a {
		display: flex;
		width: 240px;
		margin-bottom: 5rem;
	}
}